<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc.xsd">

  <mvc:resources mapping="/dist/**" location="/dist/"/>
  <mvc:resources mapping="/auth/**" location="/auth/"/>

  <mvc:interceptors>
    <mvc:interceptor>
      <mvc:mapping path="/**/*"/>
      <mvc:exclude-mapping path="/**/*.woff"/>
      <mvc:exclude-mapping path="/**/*.ttf"/>
      <mvc:exclude-mapping path="/**/*.gif"/>
      <mvc:exclude-mapping path="/**/*.jpg"/>
      <mvc:exclude-mapping path="/**/*.jpeg"/>
      <mvc:exclude-mapping path="/**/*.png"/>
      <mvc:exclude-mapping path="/**/*.js"/>
      <mvc:exclude-mapping path="/**/*.html"/>
      <mvc:exclude-mapping path="/**/*.jsp"/>
      <mvc:exclude-mapping path="/**/*.css"/>
      <mvc:exclude-mapping path="/**/*.json"/>
      <mvc:exclude-mapping path="/rest/**"/>
      <mvc:exclude-mapping path="/swagger**"/>
      <mvc:exclude-mapping path="/v2/**"/>
      <mvc:exclude-mapping path="/wx/**"/>
      <bean class="com.ningyuan.intercepter.NingyuanInterceptor"/>
    </mvc:interceptor>
  </mvc:interceptors>
</beans>