.table {
    border-bottom: 1px solid #dee2e6!important;
    margin-bottom:0!important;
    table-layout:fixed;
}

.breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "/ ";
    padding: 0 5px;
}

.table td, .table th{
    padding: 0.5rem!important;
    vertical-align: middle!important;
}

.table tr th{

}

.col-auto{
    padding-bottom: 5px;
}

.input-group-text{
    width: 100px;
}