<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ningyuan.mobile.daomapper.mapper.ShopWalletMapper">

    <select id="getCashList" resultType="com.ningyuan.mobile.dto.RedPacketDto">
        select
            open_id,
            (select base_value from basedata where base_type = 'receive_record' and base_key = opt_type) optionType,
            amount finance,
            create_time
        from shop_receive_record
        where open_id = #{openId}
        order by create_time desc
    </select>

    <select id="getCashSum" resultType="string">
        select sum(if(opt_type =2 , amount, 0)) from shop_receive_record where open_id = #{openId}
    </select>

    <select id="getRecordList" resultType="com.ningyuan.mobile.dto.RedPacketRecordDto">
        select
            (select base_value from basedata where base_type = 'receive_record' and base_key = opt_type) redpacketSum,
            amount num,
            create_time
        from
            shop_receive_record
        where
            opt_type = #{type} and open_id = #{openId}
        order by create_time desc
    </select>
</mapper>